lightly==1.2.43
matplotlib==3.5.1
numpy==1.23.5
pandas==1.5.3
pytorch_lightning==1.9.0
scikit_learn==1.2.1
seaborn==0.12.2
timm==0.8.6.dev0
torch==1.13.1
torchmetrics==0.11.0
torchvision==0.14.1
tqdm==4.64.1
umap==0.1.1
umap_learn==0.5.3
